{
	title = KeyShortcut;
	items = (
	  {
	    cell = PSGroupCell;
	    label = "Repsring to make changes";
	  },
	  {
	    cell = PSButtonCell;
	    label = "Respring";
	    action = "respring";
	  },
	  {
	    cell = PSGroupCell;
	    label = "Settings";
	  },
	  {
	    cell = PSEditTextCell;
	    default = "A";
	    defaults = "org.mustafaa.keyshortcut";
	    key = selectAllKey;
	    label = "Select all";
	  },
	  {
	    cell = PSEditTextCell;
	    default = "C";
	    defaults = "org.mustafaa.keyshortcut";
	    key = "copyKey";
	    label = "Copy";
	  },
	  {
	    cell = PSEditTextCell;
	    default = "X";
	    defaults = "org.mustafaa.keyshortcut";
	    key = "cutKey";
	    label = "Cut";
	  },
	  {
	    cell = PSEditTextCell;
	    default = "V";
	    defaults = "org.mustafaa.keyshortcut";
	    key = "pasteKey";
	    label = "Paste";
	  },
	  {
	    cell = PSEditTextCell;
	    default = "Z";
	    defaults = "org.mustafaa.keyshortcut";
	    key = "undoKey";
	    label = "Undo";
	  },
	  {
	    cell = PSEditTextCell;
	    default = "R";
	    defaults = "org.mustafaa.keyshortcut";
	    key = "redoKey";
	    label = "Redo";
	  },
	  {
	    cell = PSEditTextCell;
	    default = "S";
	    defaults = "org.mustafaa.keyshortcut";
	    key = "selectLastKey";
	    label = "Select last word";
	  },
	  {
	    cell = PSEditTextCell;
	    default = "B";
	    defaults = "org.mustafaa.keyshortcut";
	    key = "beginningKey";
	    label = "Beginning of document";
	  },
	  {
	    cell = PSEditTextCell;
	    default = "E";
	    defaults = "org.mustafaa.keyshortcut";
	    key = "endKey";
	    label = "End of document";
	  },
	  {
	    cell = PSGroupCell;
	    label = "Profiles";
	  },
	  {
	    cell = PSEditTextCell;
	    defaults = "org.mustafaa.keyshortcut";
	    key = "oneKey";
	    label = "1";
	  },
	  {
	    cell = PSEditTextCell;
	    defaults = "org.mustafaa.keyshortcut";
	    key = "twoKey";
	    label = "2";
	  },
	  {
	    cell = PSEditTextCell;
	    defaults = "org.mustafaa.keyshortcut";
	    key = "threeKey";
	    label = "3";
	  },
	  {
	    cell = PSEditTextCell;
	    defaults = "org.mustafaa.keyshortcut";
	    key = "fourKey";
	    label = "4";
	  },
	  {
	    cell = PSEditTextCell;
	    defaults = "org.mustafaa.keyshortcut";
	    key = "fiveKey";
	    label = "5";
	  },
	  {
	    cell = PSEditTextCell;
	    defaults = "org.mustafaa.keyshortcut";
	    key = "sixKey";
	    label = "6";
	  },
	  {
	    cell = PSEditTextCell;
	    defaults = "org.mustafaa.keyshortcut";
	    key = "sevenKey";
	    label = "7";
	  },
	  {
	    cell = PSEditTextCell;
	    defaults = "org.mustafaa.keyshortcut";
	    key = "eightKey";
	    label = "8";
	  },
	  {
	    cell = PSEditTextCell;
	    defaults = "org.mustafaa.keyshortcut";
	    key = "nineKey";
	    label = "9";
	  },
	  {
	    cell = PSEditTextCell;
	    defaults = "org.mustafaa.keyshortcut";
	    key = "zeroKey";
	    label = "0";
	  },
	  {
	    cell = PSEditTextCell;
	    defaults = "org.mustafaa.keyshortcut";
	    key = "atKey";
	    label = "@";
	  },
	  {
	    cell = PSEditTextCell;
	    defaults = "org.mustafaa.keyshortcut";
	    key = "spaceKey";
	    label = "Space";
	    footerText = "Shortcuts for specified keywords";
	  },
	  {
	    cell = PSGroupCell;
	  },
	  {
	    cell = PSButtonCell;
	    label = "@switchpwn";
	    icon = "twitter.png";
	    action = "switchpwnTwitter";
	  }
	);
}
